<div class = "footy">
	<nav class="navbar fixed-bottom navbar-light bg-light">
		<div class = "justify-center">
			&copy; <%= "#{Time.now.year}".html_safe %> AviationFirst All Rights Reserved | (435)-229-1945 |  <a href="https://www.instagram.com/"><%= fa_icon "instagram" %></a><a href="https://www.facebook.com/"><%= fa_icon "facebook" %></a> <a href="https://www.youtube.com/"><%= fa_icon "youtube" %></a><a href="https://www.linkedin.com/"><%= fa_icon "linkedin" %></a>| Website designed by <a href="https://pg-portfolio.herokuapp.com" target="_blank">Paul Gibbs</a>
		</div>
	</nav>
<div>