<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
    <a class="navbar-brand" href="/">
    	<%= image_tag "logo_no_quote.png", width: 250, height: 75, alt: "AviationFirst", class: 'logo-img' %>
  	</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar">
        <ul class="nav navbar-nav nav-links ml-auto w-100 justify-content-end active">
            <li class="nav-item <%= active?(root_path) %>">
                <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item <%= active?(charter_path) %>">
                <a class="nav-link" href="/charter">CHARTER SERVICES</a>
            </li>
            <li class="nav-item <%= active?(about_path) %>">
                <a class="nav-link" href="/about">OUR CREW</a>
            </li>
            <li class="nav-item <%= active?(contact_path) %>">
                <a class="nav-link" href="/contact">CONTACT US</a>
            </li>
        </ul>
    </div>
</nav>