<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
    <a class="navbar-brand" href="/">
    	<%= image_tag "logo_no_quote.png", width: 250, height: 75, alt: "AviationFirst", class: 'logo-img' %>
  	</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end active">
            <li class="nav-item <%= active?(root_path) %>">
                <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item <%= active?(charter_path) %>">
                <a class="nav-link" href="/charter">CHARTER SERVICES</a>
            </li>
            <li class="nav-item <%= active?(about_path) %>">
                <a class="nav-link" href="/about">OUR CREW</a>
            </li>
            <li class="nav-item <%= active?(contact_path) %>">
                <a class="nav-link" href="/contact">CONTACT US</a>
            </li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-expand-md navbar-dark bg-danger">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarSm">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbarSm">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Collapse on SM</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="//codeply.com">Codeply</a>
            </li>
        </ul>
    </div>
</nav>